.header__lang-link {
  font-weight: normal;
  text-align: right;
  text-decoration-line: none;
  line-height: 1.1;
  color: #fff;
}

@media all and (min-width: 1100px) {
  .header__lang-link {
    font-size: 26px;
  }
}

@media all and (min-width: 720px) and (max-width: 1099px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 1.17;
    max-width: 29px;
    max-height: 28px;
  }
}

@media all and (min-width: 385px) and (max-width: 719px) {
  .header__lang-link {
    font-size: 20px;
    line-height: 1.17;
    max-width: 24px;
    max-height: 22px;
  }
}

@media all and (max-width: 384px) {
  .header__lang-link {
    font-size: 18px;
    max-width: 22px;
    max-height: 20px;
  }
}

