.header__lang-link {
  font-weight: normal;
  text-align: right;
  text-decoration-line: none;
  font-size: 18px;
  line-height: 1.1;
  max-width: 22px;
  max-height: 20px;
  color: #fff;
}

@media screen and (min-width: 465px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 20px;
    line-height: 1.17;
    max-width: 24px;
    max-height: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 1.17;
    max-width: 29px;
    max-height: 28px;
  }
}

@media screen and (min-width: 1281px) {
  .header__lang-link {
    font-size: 26px;
  }
}
