.photo-grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

@media all and (min-width: 1100px) {
  .photo-grid {
    margin: 92px 48px 0;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
  }
}

@media all and (min-width: 1000px) and (max-width: 1099px) {
  .photo-grid {
    margin: 92px 48px 0;
    gap: 14px;
  }
}

@media all and (min-width: 720px) and (max-width: 999px) {
  .photo-grid {
    margin: 88px 24px 0;
    gap: 16px;
  }
}

@media all and (max-width: 719px) {
  .photo-grid {
    margin: 64px 16px 0;
    gap: 12px;
  }
}
