.places {
  padding: 0;
  list-style: none;
}

@media all and (min-width: 1100px) {
  .places {
    margin: 92px 148px 0;
  }
}

@media all and (min-width: 1000px) and (max-width: 1099px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media all and (min-width: 385px) and (max-width: 999px) {
  .places {
    margin: 88px 24px 0;
  }
}

@media all and (max-width: 384px) {
  .places {
    margin: 64px 0 0;
  }
}
