.places {
  padding: 0;
  list-style: none;
  margin: 64px 0 0;
}

@media all and (min-width: 1000px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media all and (min-width: 719px) and (max-width: 999px) {
  .places {
    margin: 88px 24px 0;
  }
}

