.header__links {
  display: flex;
  gap: 18px;
  padding: 0;
  list-style: none;
}

@media all and (min-width: 1000px) {
  .header__links {
    margin: 16px 0 0;
  }
}

@media all and (min-width: 385px) and (max-width: 999px) {
  .header__links {
    margin: 14px 0 0;
  }
}

@media all and (max-width: 384px) {
  .header__links {
    margin: 8px 0 0;
  }
}
