.footer__columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (min-width: 720px) {
  .footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
