.cover__subtitle {
  font-weight: normal;
  text-align: center;
  color: #fff;
  z-index: 0;
}

@media all and (min-width: 720px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
    margin: 32px auto 0;
    max-width: 360px;
  }
}

@media all and (min-width: 385px) and (max-width: 719px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.14;
    margin: 16px auto 33px;
    max-width: 300px;
  }
}

@media all and (max-width: 384px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 16px auto 33px;
    max-width: 268px;
  }
}
