@media all and (min-width: 720px) {
  .header__logo {
    max-width: 176px;
  }
}

@media all and (min-width: 385px) and (max-width: 719px) {
  .header__logo {
    max-width: 159px;
  }
}

@media all and (max-width: 384px) {
  .header__logo {
    max-width: 142px;
  }
}
