.header__logo {
  max-width: 142px;
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .header__logo {
    max-width: 159px;
  }
}

@media all and (min-width: 768px) and (max-width: 1440px) {
  .header__logo {
    max-width: 176px;
  }
}
