.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 16px 0;
}

@media all and (min-width: 425px) and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
  .header {
    padding: 28px 48px 0;
  }
}
