.place__text {
  grid-area: text;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 0;
}

@media all and (min-width: 1000px) {
  .place__text {

    max-width: 456px;
  }
}

@media all and (min-width: 720px) and (max-width: 999px) {
  .place__text {
    max-width: 352px;
  }
}

@media all and (max-width: 719px) {
  .place__text {
    margin: 32px 16px 0;
    max-width: 288px;
  }
}

