.footer__link {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 0.9;
  color: #fff;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  height: 24px;
}

.footer__link:hover {
  opacity: .5;
}
