.lead__title {
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}

@media all and (min-width: 720px) {
  .lead__title {
    margin: 0 auto;
    font-size: 96px;
    line-height: 1.04;
    max-width: 720px;
  }
}

@media all and (min-width: 539px) and (max-width: 719px) {
  .lead__title {
    font-size: 64px;
    margin: 0 10px;
  }
}

@media all and (min-width: 445px) and (max-width: 538px) {
  .lead__title {
    font-size: 60px;
    margin: 0 12px;
  }
}

@media all and (min-width: 385px) and (max-width: 444px) {
  .lead__title {
    font-size: 48px;
    margin: 0 14px;
  }
}

@media all and (max-width: 385px) {
  .lead__title {
    font-size: 40px;
    margin: 0 16px;
  }
}
