.place__paragraph {
  margin: 0;
}

@media all and (min-width: 1100px) {
  .place__paragraph {
    max-width: 484px;
  }
}

@media all and (min-width: 1000px) and (max-width: 1099px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media all and (min-width: 720px) and (max-width: 999px) {
  .place__paragraph {
    max-width: 352px;
  }
}

@media all and (min-width: 385px) and (max-width: 719px) {
  .place__paragraph {
    max-width: 719px;
  }
}

@media all and (max-width: 384px) {
  .place__paragraph {
    max-width: 384px;
  }
}
