.footer__copyright {
  align-self: flex-start;
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  color: #FFFFFF;
  margin: 48px 0 0;
  padding: 0;
}
