.footer__copyright {
  align-self: flex-start;
  font-weight: normal;
  text-align: right;
  color: #FFFFFF;
  padding: 0;
}

@media all and (min-width: 720px) {
  .footer__copyright {
    line-height: 1.7;
    margin: 0;
    font-size: 14px;
  }
}

@media all and (max-width: 719px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
    margin: 48px 0 0;
  }
}
