.lead__subtitle {
  font-weight: normal;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  margin: 16px 16px 0;
}

@media all and (min-width: 385px) and (max-width: 767px) {
  .lead__subtitle {
    margin: 18px 16px 0;
    font-size: 20px;
    line-height: 1.1;
  }
}

@media all and (min-width: 768px) and (max-width: 1440px) {
  .lead__subtitle {
    margin: 32px auto 0;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
  }
}

