.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  margin: 8px 0 0 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 24px;
    font-size: 10x;
    line-height: 1.4;
  }
}
