.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media all and (min-width: 1000px) {
  .lead__caption {
    margin: 8px 0 0;
  }
}

@media all and (min-width: 720px) and (max-width: 999px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media all and (max-width: 719px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
