.cover__title {
  font-weight: 900;
  text-align: center;
  color: #fff;
  z-index: 2;
  margin: 32px auto 0;
}

@media all and (min-width: 720px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
    max-width: 560px;
  }
}

@media all and (min-width: 385px) and (max-width: 719px) {
  .cover__title {
    font-size: 42px;
    line-height: 1.05;
    max-width: 400px;
  }
}

@media all and (max-width: 384px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }
}
