.place {
  padding: 0;
  margin: 50px 0 0;
  display: grid;
}
.place:first-of-type {
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    grid-template-areas:
    "title"
    "website"
    "image"
    "text";
    grid-template-columns: minmax(320px, 340px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-areas:
    "title website"
    "image text";
    column-gap: 28px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: 65px 1fr;
    row-gap: 47px;
    margin: 73px 0;
  }
  .place:first-of-type {
    grid-template-rows: 65px 1fr;
  }
}
